<div id="sub_top" class="sample">
  <div class="top_base cl_03">
    <!--背景画像うすい時用　青系-->
  </div>
  <span>Administrator Sign Up</span>
</div>

<div class="content">
  <h2 class="effect">管理者登録ページ<br>
    <span>新たな管理者の登録はこちらからお願いします</span>
  </h2>

  <div class="cont_wrap">
    <%= form_with model: @admin, url: admin_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", model: f.object %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード（6文字以上）" %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "パスワード再入力" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :first_name, "苗字" %><br />
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name, "名前" %><br />
      <%= f.text_field :last_name %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録"  %>
    </div>
    <% end %>
  </div>
  <!--/cont_wrap-->
</div>
<!--/content-->