<% provide(:title, 'お問い合わせ |') %>

<div id="sub_top" class="contact">
  <div class="top_base cl_02">
    <!--背景画像うすい時用　緑系-->
  </div>
  <span>Contact us</span>
</div>

<%# ぱんくす %>

<div class="content">
  <h2 class="effect">お問合わせ<br>
    <span>お問合せフォーム</span></h2>
  <div class="cont_wrap">

    <div class="effect d_02">
      <h3>お問合わせフォーム</h3>
      <p>下記フォームに必要事項をご入力いただき、送信してください。<br></p>
      <%= form_with(model: @contact, local: true, id: 'mail_form') do |f| %>
      <dl>
        <dt>歯科医院・会社・<span>Your company name</span></dt>
        <dd><%= f.text_field :clinic_name, id: "name_1", name: "name_1" %> </dd>

        <dt>お名前<span>Your Name</span></dt>
        <dd class="required">
          <%= f.text_field :name, id: "name_2", name:"name_2" %>
        </dd>

        <dt>メールアドレス<span>Mail Address</span></dt>
        <dd class="required">
          <%= f.text_field :email, id: "mail_address", name: "mail_address" %>
        </dd>

        <dt>電話番号<span>Phone Number</span></dt>
        <dd class="required">
          <%= f.text_field :phone_number, id: "phone", name: "phone" %>
        </dd>

        <dt>お問い合わせ種類<span>Inquiry Kind</span></dt>
        <dd class="required">
          <select id="kind" name="kind">
            <option value="">選択してください</option>
            <option value="ご依頼・ご相談">ご依頼・ご相談</option>
            <option value="廃墟について">廃墟について</option>
            <option value="ご意見・クレーム">ご意見・クレーム</option>
            <option value="その他お問い合わせ">その他お問い合わせ</option>
          </select>
        </dd>

        <dt>住所<span>Address</span></dt>
        <dd class="required">
          <%= f.text_area :address, class: 'hoge', size: "30x10" %>
        </dd>

        <dt>お問い合わせ内容<span>Mail Contents</span></dt>
        <dd class="required">
          <%= f.text_area :message, id: "mail_contents", name: "mail_contents", size: "50X30" %>
        </dd>

        <dt>送信する<span>Send</span></dt>
        <dd class="required">
          <%= f.submit %>
        </dd>
      </dl>
      <% end %>

    </div>


  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->