<%= form_with model: post, local: true do |f| %>
  <div class="field">
    <%= f.label :title, "記事タイトル" %><br />
    <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
  </div>

  <div class="field">
    <%= f.text_field :tag_ids, placeholder: 'タグを入力してください' %>
  </div>

  <div class="field">
    <%= f.label :text, "記事内容" %><br />
    <%= f.text_area :text, class: :form__text, placeholder: "テキストを入力してください", rows:'10' %>
  </div>

  <div class="field">
    <%= f.label :imgage, "投稿画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する", class: :form__btn  %>
  </div>
<% end %>