<div id="sub_top" class="works">
  <div class="top_base cl_01">
  </div>
  <span>Column</span>
</div>


<% breadcrumb :posts_index %>

<div class="content">
  <h2 class="effect">歯科技工コラム一覧<br>
    <span>コラム</span></h2>
  <div class="cont_wrap">

    <div class="effect d_02">
      <%= form_with(url: posts_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "記事タイトルやジャンルで検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <% end %>

      <ul class="works_list">
        <% @posts.each do |post| %>
        <li><span class="works_icon">NEW!</span>
          <%= link_to image_tag(post.image, class: :mask), posts_path(post.id) %>
          <span><%= link_to post.title, posts_path(post.id), method: :get %></span>
          <%# <%= post.admin.first_name %>
          <%= l post.created_at, format: :short %>
          <% post.tags.each do |tag| %>
          <%= tag.tag_name %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>

  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->






<%# <main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <%= render partial: 'post', collection: @posts %>
<%# </div>
  </div>
</main> %>