<script>
  $(document).ready(function ($) {
    $('#top_slide').sliderPro({
      width: 1400,
      arrows: true,
      buttons: true,
      aspectRatio: 1.8,
      slideDistance: 0,
      fadeDuration: 1000,
      smallSize: 640,
      visibleSize: "100%",
      breakpoints: {
        640: {
          width: '100%',
          arrows: false,
          aspectRatio: 1.6,
        }
      }
    });
  });
</script>

<div class="slider-pro" id="top_slide">
  <div class="sp-slides">
    <div class="sp-slide">
      <div class="top_base cl_01"></div>
      <!-- <div class="top_catch">
      <span>受け継がれる色鮮やかな吊るし飾り</span></div> -->
      <!-- <div class="slide_btn"><a href="#">詳しくはコチラ</a></div> -->
      <%= image_tag 'main.png', alt:"エースラボのトップロゴ", class: "sp-image"%>
    </div><!-- /sp-slide -->

    <div class="sp-slide">
      <!-- <div class="top_catch"> -->
      <!-- <span>ここに伝えたいメッセージを入れる</span></div> -->
      <!-- <div class="slide_btn"><a href="#">詳しくはコチラ</a></div> -->
      <%= image_tag 'content1.png', alt:"エースラボのコンセプト", class: "sp-image" %>
    </div><!-- /sp-slide -->

  </div><!-- /sp-slides -->
</div><!-- /slider-pro -->

<div class="pickup">
  <h2>歯科技工製品紹介</h2>
  <ul>
    <li class="effect"><%= link_to image_tag( 'jirukosample.png'), "#", alt:"ジルコニアのサンプル画像", class: "pu_icon" %>
      <div class="pu_title"><b>ジルコニア</b></div>
      <p>ジルコニアの製品詳細情報はこちら</p>
      </a>
    </li>

    <li class="effect">
      <%= link_to image_tag('e_maxsample.jpg'), "#", alt:"e-maxのサンプル画像", class:"pu_icon cl_02" %>
      <div class="pu_title"><b>e-max</b></div>
      <p>e-maxの製品詳細情報はこちら</p>
      </a>
    </li>

    <li class="effect">
      <%= link_to image_tag('e_maxsample.jpg'), "#", alt:"e-maxのサンプル画像" %>
      <div class="pu_title"><b>製品情報</b></div>
      <p>詳細はこちら</p>
    </li>

    <li class="effect"><%= link_to image_tag('e_maxsample.jpg'), "#", alt:"e-maxのサンプル画像" %>
      <div class="pu_title"><b>製品情報</b></div>
      <p>詳細はこちら</p>
    </li>
  </ul>
</div><!-- /pickup -->



<div class="content">

  <div class="cont_wrap effect d_04">

    <h2>お知らせ<br>
      <span>News</span></h2>

    <ul class="ul_news">
      <li><span class="news_date">2021.06.01</span><span class="news_icon cl_02">EVENT</span><a
          href="#">2021年・イベント情報</a>を追加いたしました。</li>
      <li><span class="news_date">2021.06.01</span><span class="news_icon">WORKS</span><a href="#">導入事例</a>を追加いたしました。
      </li>
      <li><span class="news_date">2021.06.01</span>ホームページをリニューアルいたしました。</li>
    </ul>

  </div>
  <!--/cont_wrap-->

</div>
<!--/content-->

<%# <script src="js/jquery.sliderPro.min.js"></script>
<script src="js/jquery.inview.min.js"></script>
<script src="js/script.js"></script> %>






<%# <main class="main">
  <div class="inner">
    <div class="post__wrapper">
      <%= render partial: 'post', collection: @posts %>
<%# </div>
  </div>
</main> %>