<div id="sub_top" class="sample">
  <div class="top_base cl_03">
    <!--背景画像うすい時用　青系-->
  </div>
  <span>Post Column</span>
</div>

<div class="content">
  <h2 class="effect">管理者ログインページ<br>
    <span>管理者のログインはこちらからお願いします</span></h2>

  <div class="cont_wrap">
    <%= form_with model: @post, local: true do |f| %>
    <div class="field">
      <%= f.label :title, "記事タイトル" %><br />
      <%= f.text_field :title, placeholder: "タイトルを入力してください" %>
    </div>

    <div class="field">
      <%= f.label :tag_ids, "タグ"%>
      <%= f.text_field :tag_ids, placeholder: 'タグを入力してください' %>
      <%= f.collection_check_boxes :post_tags, Tag.all, :id, :tag_name %>
    </div>

    <div class="field">
      <%= f.label :text, "記事内容" %><br />
      <%= f.text_area :text, class: :form__text, placeholder: "テキストを入力してください", rows:'10' %>
    </div>

    <div class="field">
      <%= f.label :imgage, "投稿画像" %><br />
      <%= f.file_field :image %>
    </div>

    <div class="actions">
      <%= f.submit "投稿する", class: :form__btn  %>
    </div>
    <% end %>
  </div>
  <!--/cont_wrap-->
</div>
<!--/content-->