<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) %>歯科技工所をお探しなら神奈川県川崎市にあるAcelabまで</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">

  <meta name="keywords" content="">
  <meta name="description" content="神奈川県川崎市にある歯科技工所ACEラボの会社概要ページです。" />


  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

</head>

<body>
  <header>
    <div class="bg_bl"></div>
    <%= link_to image_tag("logo.png"), "/", alt: "歯科技工所ACEラボのロゴ", class: "mainlogo" %>

    <a class="menu_btn">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </a>

    <div class="h_btn">
      <%= link_to new_contact_path do %>
      <i class="fas fa-envelope"></i>
      <span>お問合わせ</span>
      <% end %>
    </div>

    <div class="h_tel font_mincho"><a href="tel:"><i class="fas fa-phone"></i>
        <span><strong>044-280-6437</strong></span></a>
    </div>

    <nav id="g_navi">
      <ul class="navi_base">
        <li><%= link_to 'HOME','/' %></li>
        <li><a class="ac_menu">歯科技工物製作に関して</a>
          <div class="ac_list">
            <ul>
              <li><a href="#">コンセプト</a></li>
              <li><%= link_to '事業内容', '/static_pages/task' %></li>
              <li><a href="#">歯科技工物製作の流れ</a></li>
              <li><%= link_to '歯科技工コラム', posts_path %></li>
            </ul>
          </div>
        </li>

        <li><a class="ac_menu">技工製品一覧</a>
          <div class="ac_list"></div>
        </li>

        <li><%= link_to 'FAQ', '/static_pages/faq' %></li>

        <li><a class="ac_menu">会社案内</a>
          <div class="ac_list">
            <ul>
              <li><%= link_to '会社概要', '/static_pages/company' %></li>
              <li><a href="#">企業理念</a></li>
              <li><%= link_to '社員紹介', '/static_pages/employee' %></li>
              <li><%= link_to 'アクセスマップ', static_pages_company_path(anchor: 'access') %></li>
            </ul>
          </div>
        </li>
        <% if admin_signed_in? %>
        <li>
          <a class="ac_menu"><%= "ログイン:#{ current_admin.full_name}" %></a>
          <div class="ac_list">
            <ul>
              <li>
                <%= link_to 'コラム投稿', new_post_path %></li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete%></li>
            </ul>
          </div>
        </li>
        <% end %>
      </ul>
    </nav>

    <ul class="h_sns">
      <li><a href="#"><i class="fas fa-book"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
      <li><%= link_to "https://www.instagram.com/acelab_2021/" do %>
        <i class="fab fa-instagram"></i></li>
      <% end %>
    </ul>

    <p class="notice"><%= notice %></p>

  </header>

  <%= breadcrumbs separator: " &rsaquo; " %>

  <%= yield %>

  <div class="box_contact effect">
    <div class="arrow_tbm"><%= image_tag "sankaku.png" %> </div>
    <div class="box_in clfix">
      <div class="btn">
        <%= link_to new_contact_path do %>
        <i class="fas fa-envelope"></i>ご注文・お問い合わせはコチラ
        <% end %>
        <p>メールでのお問い合わせは<strong>24時間365日受付中！</strong></p>
      </div>
      <div class="tel"><a href="tel:"><i class="fas fa-phone"></i><strong>044-280-6437</strong></a>
        <p>電話対応時間：11：00~15：00 / 17:30~23:00</p>
      </div>
    </div>
  </div>


  <footer>
    <ul class="f_bn">
      <li><a href="#"><i class="fas fa-book"></i>
          <span>Blog</span></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i>
          <span>Twitter</span></a></li>
      <li><a href="#"><i class="fab fa-facebook-square"></i>
          <span>Facebook</span></a></li>
      <li><%= link_to 'https://www.instagram.com/acelab_2021/' do %>
        <i class="fab fa-instagram"></i>
        <span>Instagram</span></li>
      <% end %>
    </ul>

    <div class="cont_wrap">
      <ul class="f_list">
        <li class="list_top"><%= link_to 'HOME','/' %></li>
        <li class="list_top"><a href="#">歯科技工物について</a>
          <ul>
            <li><a href="#">コンセプト</a></li>
            <li><%= link_to '事業内容', '/static_pages/task' %></li>
            <li><a href="#">歯科技工物制作の流れ</a></li>
            <li><a href="#">歯科技工コラム</a></li>
          </ul>
        </li>
      </ul>

      <ul class="f_list">
        <li class="list_top"><%= link_to 'FAQ', '/static_pages/faq' %></li>
        <li class="list_top"><a href="#">会社案内</a>
          <ul>
            <li><%= link_to '会社概要','/static_pages/company' %></li>
            <li><a href="#">企業理念</a></li>
            <li><%=link_to '社員紹介', '/static_pages/employee'%></li>
            <li><%= link_to 'アクセスマップ', static_pages_company_path(anchor: 'access') %></li>
          </ul>
        </li>
      </ul>

      <ul class="f_list">
        <% unless admin_signed_in? %>
        <li class="list_top"><%= link_to '管理者ログイン', new_admin_session_path %></li>
        <li class="list_top"><%= link_to '管理者登録', new_admin_registration_path %></li>
        <% end %>
      </ul>
    </div>

    <address>
      Copyright (C) MegaPx. All Rights Reserved.
    </address>

  </footer>

  <div class="to_top"><%= link_to '#' do %>
    <i class="fas fa-chevron-up"></i>
    <% end %>
  </div>

</body>

</html>